* { 

    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: sans-serif;

}

a{

    text-decoration: none;
    color: inherit;

}

header{

    background-color: #727272;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #444444;
    flex-shrink: 0;

}

h1{

    color: #ffffff;
    font-size: 4rem;

}

main{

    background-color: #cccccc;
    display: block;
    height: 75vh;

}

.centro{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

}

nav{

    background-color: #727272;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.45); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.45);

}

.escolha-gamer{

    background-image: url("pcgamer.png");
    background-position: center;
    background-size: cover;
    width: 20vw;
    height: 65vh;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
}

.escolha-gamer:hover{

    transform: scale(1.03);
    transition: all 0.3s ease-in-out;

}

.escolha-office{

    background-image: url("pcoffice.png");
    background-position: center;
    background-size: cover;
    width: 20vw;
    height: 65vh;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
}

.escolha-office:hover{

    transform: scale(1.03);
    transition: all 0.3s ease-in-out;

}

.escolha-acessorios{

    background-image: url("pecas.png");
    background-position: center;
    background-size: cover;
    width: 20vw;
    height: 65vh;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
}

.escolha-acessorios:hover{

    transform: scale(1.03);
    transition: all 0.3s ease-in-out;

}

.menu-escolha{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pcs{

    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.meio{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    background-color: #a3a3a3;
    

}

.linha{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 95%;
    background-color: #cccccc;

}

.bloco{

    background-color: #ffffff;
    height: 90%;
    width: auto;
    margin: 1%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;

}

.bloco:hover{

    transform: scale(1.07);
    transition: all 0.3s ease-in-out;
}

.bloco h3{

    padding: 0px 10px 0px 10px;
    color: rgb(32, 161, 0);
    font-weight: bold;
    padding-bottom: 5px;

}

.img-menu{

    height: 100%;
    width: auto;
    border-radius: 5px;

}

.descricao{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 0px 10px 0px 10px;

}

.descricao p{

    margin: 2px;
    color: rgb(52, 37, 139);
    font-weight: bold;

}

.btnvoltar{

    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    background-color: #444444;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    
}

.btnvoltar:hover{

    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
    
}   

footer{

    background-color: #727272;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #444444;

}

@media (max-width: 600px) {
  
    h1{

        font-size: 1.5rem;

    }

    h2{

        font-size: 0.7rem;
        text-align: center;

    }

    main{

        display: block;
        height: auto;
        width: 100%;

    }

    nav{

        flex-direction: column;

    }

    .escolha-gamer{

        width: 60vw;
        height: 30vh;
        

    }

    .escolha-office{

        width: 60vw;
        height: 30vh;
        

    }

    .escolha-acessorios{

        width: 60vw;
        height: 30vh;
        

    }

}